/* Give your page a fun background color */
body {
  background-color: #A8C6DA;
  }
/* Make the header and footer a different color from the background */
h1 {
  background-color: #CDD0D0;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  background-color: #0A99F8;
  text-align: center;
  font-size: 18px;
}
img {
  border: 3px solid #00000f;
  vertical-align: middle;
}
p {
  color: #FFFFFF;
  font-style: italic;
  font-size: 22px;
}

ul {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 26px;
}
.image-container {
    text-align: center;
  }
  img {
      width: 400px;
      height: 400px;
  }







/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
